@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  @media (max-width: $phone) {
    font-size: 11px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 0 auto;
  border-radius: 30px;
  background-color: $blue;
  color: $white;
  font-size: 40px;
  @media (max-width: $phone) {
    margin: 30px;
  }
}

.current {
  margin-top: 20px;
  text-align: center;
  font-size: 6.25rem;

  &__location {
    text-align: center;
    font-size: 30px;
  }

  &__days {
    display: grid;
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 0 auto;
    text-align: center;
    //@media (max-width: $phone) {
    //  grid-template-columns: 1fr 1fr 1fr;
    //
    //}
    &--today, &--tomorrow {
      margin: 0 auto;
      font-size: 20px;
      padding-top: 8px;
      border-radius: 52px;
      width: 180px;
      height: 42px;
      background-color: $yellow;
      color: $black;
      @media (max-width: $phone) {
        //display: none;
        font-size: 15px;
        height: 30px;
        width: 100px;
      }
    }

    &--hamburger {
      //@media (min-width: $phone) {
      margin: 0 auto;
      font-size: 15px;
      padding-top: 8px;
      //text-align: center;
      border-radius: 52px;
      width: 62px;
      height: 30px;
      background-color: $yellow;
      color: $black;
      @media (min-width: $phone) {
        display: none;
      }
    }
  }
}


.cities {
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 36px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: $phone) {
    display: block;
    margin: 10px;
    background-color: red;
    //grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &__item {
    margin: 0 auto;
    font-size: 20px;
    padding-top: 8px;
    //text-align: center;
    border-radius: 52px;
    width: 180px;
    height: 42px;
    background-color: $green;
    color: $white;
    //vertical-align: middle;
    @media (max-width: $phone) {
      //display: none;
    }
    &--hamburger{
      margin: 0 auto;
      font-size: 15px;
      padding-top: 8px;
      //text-align: center;
      border-radius: 52px;
      width: 62px;
      height: 30px;
      background-color: $yellow;
      color: $black;
      @media (min-width: $phone) {
        display: none;
      }
    }
    &--image {
      //padding: 4px ;
      //align-items: flex-start;
    }

    &--search {
      width: 100%;
      position: relative;
      display: flex;
      @media (max-width: $phone) {
        display: none;
      }
    }

    &--input {
      margin: 0 auto;
      font-size: 20px;
      border-radius: 52px;
      width: 180px;
      height: 42px;
      color: black;
    }
  }
}

.searchButton {
  font-size: 20px;
  margin-left: -30px;
  border-bottom-right-radius: 26px;
  border-top-right-radius: 26px;
}

.info {
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 36px;
  margin: 0 auto;
  text-align: center;
  @media (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  &__item {
    color: $black;
    font-weight: bold;
    background-color: $white;
    //display: flex;
    width: 11.25rem;
    height: 102px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 10px;

    &--value {
      margin-top: -2px;
      font-size: 1.75rem;
    }

    &--container {
      display: flex;
    }
  }

}