@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  @media (max-width: $phone) {
    font-size: 11px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 16px 1fr 300px 1fr 16px;
  grid-template-columns: 40px 1fr 40px;
  border-radius: 30px;
  background-color: $blue;
  //background-image: url("../assets/img/start.jpg");
  color: $white;
  font-size: 40px;
  @media (max-width: $phone) {
    grid-template-rows: 16px auto 1fr auto 16px;
    grid-template-columns: 20px 1fr 20px;

    margin: 20px;
  }
}

.temp {
  display: flex;

}

.result {
  list-style-type: none;
  margin: 0;
  border-radius: 52px;
  box-shadow: black;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #69FF34; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: white; /* Add a black text color */
  display: flex; /* Make it into a block element to fill the whole list */
  text-align: center;

  &__details {
    font-size: 12px; /* Increase the font-size */
  }
}

.current {
  margin-top: 20px;
  text-align: center;
  font-size: 5rem;
  text-shadow: black 0.1em 0.1em 0.2em;
  grid-column-start: 2;
  grid-row-start: 3;

  &__location {
    text-align: center;
    font-size: 30px;
    padding-bottom: 16px;
  }

  &__date {
    text-align: center;
    font-size: 30px;
    padding-bottom: 16px;
  }

  &__days {
    display: grid;
    //padding: 40px;
    padding: 40px 0 40px 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 0 auto;
    text-align: center;

    &--today, &--tomorrow {
      text-shadow: none;
      margin: 0 auto;
      font-size: 20px;
      padding-top: 6px;
      border-radius: 52px;
      width: 180px;
      height: 48px;
      background-color: white;
      border: 2px solid #70DFDF;

      color: #6980C5;
      @media (max-width: $phone) {
        font-size: 15px;
        height: 30px;
        width: 100px;
      }
    }

    &--today:hover, &--tomorrow:hover {
      opacity: 0.5;
      //border: 1px solid black;
      background: rgba($yellow, 0.8);
    }

    &--hamburger {
      //@media (min-width: $phone) {
      border: none;
      //background: none;
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 15px;
      padding-top: 8px;
      text-align: center;
      border-radius: 52px;
      width: 62px;
      height: 30px;
      background-color: #70DFDF;
      color: $black;
      @media (min-width: $phone) {
        display: none;
      }
    }
  }
}

.settings {
  //padding-top: 14px;
  background-color: rgb(50, 190, 166);
  display: block;
  //position: relative;
  grid-column-start: 3;
  grid-row-start: 2;
  //left: 42rem;
  //top: 1rem;    m
  margin-left: -45px;

  //background-image: url("../assets/img/settings.svg");
  @media (max-width: $phone) {
    //left: 22rem;
    //top: 2rem;
    //margin-left: -45px;
  }
  font-size: 15px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  color: $black;
}

.settings__image {
  &:after {

  }

  transform: rotate(0deg);
  transition: transform 500ms linear;
}

.settings__image--active {
  transform: rotate(180deg);
  transition: transform 200ms linear;
  //
  //&:before {
  //  top: 0;
  //  transition: top 100ms ease-out;
  //}

  //&:after {
  //  bottom: 0;
  //  transform: rotate(-90deg);
  //  transition: bottom 100ms ease-out,
  //  transform 220ms 120ms ease-in-out;
  //}
  &:after {
    transform: rotate(-180deg);
    transition: transform 200ms linear;
  }
}

.cities__toEditList {
  display: none;

  &--visible {
    display: block;
    z-index: 1;
    position: absolute;
    //position: relative;
    left: 38rem;
    @media (max-width: $phone) {
      left: 5rem;
      top: 12rem;
      margin: 0 auto;
      padding: 60px 40px 40px 40px;
    }
    margin: 45px 0 0 0;
    padding: 60px 40px 40px 40px;
    top: 1rem;
    background-color: $white;
    border-radius: 20px;
    border: solid 1px $black;
  }
}

.cities__toEditList__item--add {
  margin: 0 auto;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 52px;
  width: 180px;
  height: 42px;
  text-align: center;
  background-color: $yellow;
  color: $black;
  order: 10;
}

.cities__toEditList__item {
  margin: 0 auto;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 52px;
  width: 180px;
  height: 42px;
  text-align: center;
  background-color: $blue;
  color: $white;
  order: 1;
}


.toEditList__item {
  margin: 0 auto;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 52px;
  width: 180px;
  height: 42px;
  text-align: center;
  background-color: $blue;
  color: $white;

  &--options {
    display: flex;
    font-size: 20px;
    text-align: center;
    height: 42px;
    order: 1;

    &--edit {
      padding-top: 8px;
      width: 90px;
      border-bottom-left-radius: 52px;
      border-top-left-radius: 52px;
      background-color: #3727ff;
    }

    &--delete {
      padding-top: 8px;

      width: 90px;
      border-bottom-right-radius: 52px;
      border-top-right-radius: 52px;
      background-color: #c5402a;
    }

  }
}

.editCityinput {
  z-index: 3;
  padding-top: 0;
  position: absolute;
  opacity: 0;
  margin: 0 auto;
  font-size: 20px;
  border-radius: 52px;
  width: 180px;
  height: 42px;
  color: black;
  border: solid 1px black;
}

.addCityinput {
  margin: 0 auto;
  font-size: 20px;
  padding-top: 8px;
  z-index: 3;
  position: absolute;
  opacity: 1;
  border-radius: 52px;
  width: 180px;
  height: 42px;
  color: black;
  border: solid 1px black;
}

.settings__list {
  display: none;

  &--visible {
    display: block;
    z-index: 1;
    position: absolute;
    //position: relative;
    left: 38rem;
    @media (max-width: $phone) {
      left: 5rem;
      top: 12rem;
      margin: 0 auto;
      padding: 60px 40px 40px 40px;
    }
    margin: 45px 0 0 0;
    padding: 60px 40px 40px 40px;
    top: 1rem;
    background-color: $white;
    border-radius: 20px;
    border: solid 1px $black;
  }
}

.settings__item {
  margin: 0 auto;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 52px;
  width: 180px;
  height: 42px;
  text-align: center;
  display: flex;
  background-color: $blue;
  color: $white;

  &--geo {
    justify-content: center;
    //display: flex;
  }

  &--edit {
    justify-content: center;

  }

  &--about {
    margin: 0 auto;
    font-size: 20px;
    padding-top: 8px;
    border-radius: 52px;
    width: 180px;
    height: 42px;
    text-align: center;
    background-color: $blue;
    color: $white;
  }
}

.cities {
  display: grid;
  padding: 60px 40px 40px 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 36px;
  margin-top: 30px;
  text-align: center;

  @media (max-width: $phone) {
    //display: none;
    grid-template-columns: 1fr;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms;
    margin: 50px;
  }

  &--visible {
    @media (max-width: $phone) {
      opacity: 1;
      visibility: visible;

      display: block;
      position: absolute;
      background-color: $white;
      border-radius: 20px;
      border: solid 1px $black;
    }
  }

  &__item {
    order: -1;
    margin: 10px;
    font-size: 20px;
    padding-top: 8px;
    border-radius: 7px;
    width: 180px;
    height: 42px;
    background-color: #70DFDF;
    color: $white;
    //transition: background-color .5s;
    @media (max-width: $phone) {
      background-color: $black;
      color: #6980C5;
      border: 3px solid #70DFDF;
      height: 48px;
    }

    &--current {
      //display: flex;
      margin: 0 auto;
      text-align: center;

      //background-image: url("../assets/img/location.png");
    }


    &--search {
      order: 1;
      margin: 0 auto;
      width: 180px;
      position: relative;
      display: flex;
      @media (max-width: $phone) {
      }
    }

    &--input {
      margin: 0 auto;
      font-size: 20px;
      border-radius: 52px;
      width: 180px;
      height: 42px;
      color: black;
      border: solid 1px black;
      order: 1;
    }
  }
}

.searchButton {
  order: 1;
  font-size: 20px;
  height: 42px;
  border: solid 1px black;
  margin-left: -30px;
  border-bottom-right-radius: 26px;
  border-top-right-radius: 26px;
}

.info {
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 36px;
  margin: 0 auto;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 4;

  @media (max-width: 640px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
    padding: 1rem 2rem 3rem 2rem;

  }

  &__item {
    color: $black;
    font-weight: bold;
    background-color: $white;
    width: 11.25rem;
    height: 102px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 10px;
    //border: 1px solid $black;
    border: 3px solid #70DFDF;
    @media (max-width: 640px) {
      height: auto;
      font-size: 1.25rem;
      width: 9.5rem;
    }

    &--value {
      color: #6980C5;
      margin-top: -2px;
      font-size: 1.75rem;

    }

    &--container {
      display: flex;
      color: #6980C5;
      @media (max-width: 640px) {
        display: block;

      }
    }
  }
}

/* The Modal (background) */
.modal {
  //transform: translateY(-200px);
  //transition: -webkit-transform 0.25s ease-in;

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  color: $black;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

//XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxx
.hamburger {
  //position: absolute;
  grid-row-start: 2;
  grid-column-start: 2;
  //margin: 2rem 0 0 2rem;
  font-size: 20px;
  //padding-top: 12px;
  text-align: center;
  border-radius: 10px;
  width: 45px;
  height: 45px;
  background-color: #70DFDF;
  color: $black;
  @media (min-width: $phone) {
    display: none;
  }
  border: 0;
  cursor: pointer;

  &:focus {
    & > .hamburger__container {
      box-shadow: 0 0 2px 2px #51a7e8;
    }
  }
}

.hamburger__container {
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 2px;
  background-color: #6980C5;
  transition: transform 220ms ease-in-out;

  &:before, &:after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #6980C5;
    content: '';
  }

  &:before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
  }

  &:after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in,
    transform 220ms ease-in-out;
  }
}

.hamburger--active {
  .hamburger__bars {
    transform: rotate(225deg);
    transition: transform 700ms 120ms ease-in-out;

    &:before {
      top: 0;
      transition: top 100ms ease-out;
    }

    &:after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 100ms ease-out,
      transform 220ms 120ms ease-in-out;
    }
  }
}

.cities__item:hover {
  //transition: background-color .5s;
  opacity: 0.5;
  //border: 1px solid black;
  background: rgba($blue, 0.5);
  //font-weight: 900;
  //letter-spacing: 1px;
}

.searchModal {
  //transform: translateY(-200px);
  //transition: -webkit-transform 0.25s ease-in;

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.searchModal {
  &--input {
    margin: 0 auto;
    font-size: 20px;
    border-radius: 52px;
    width: 180px;
    height: 42px;
    color: black;
    border: solid 1px black;
    order: 1;
  }
}

.update {
  grid-column-start: 2;
  grid-row-start: 5;
  margin: -30px;
  font-size: 16px;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.roundedOne {
  width: 28px;
  height: 28px;
  justify-content: flex-end;
  position: relative;
  margin: 0 10px;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.roundedOne label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}

.roundedOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-gradient(linear, left top, left bottom, from(#27ae60), to(#145b32));
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
  opacity: 0;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.roundedOne label:hover::after {
  opacity: 0.3;
}

.roundedOne input[type=checkbox] {
  visibility: hidden;
}

.roundedOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}