@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  @media (max-width: $phone) {
    font-size: 11px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {

  //max-width: 1200px;
  //height: 650px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: $blue;
  color: $white;
  font-size: 40px;
}

.current {
  margin-top: 20px;
  text-align: center;
  font-size: 100px;
  &__location{
    text-align: center;
    font-size: 30px;
  }
}

.cities {
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 36px;
  margin: 0 auto;
  text-align: center;
  &__item {
    //display: inline-block;
    //align-items: center;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 8px;
    //text-align: center;
    border-radius: 52px;
    width: 180px;
    height: 42px;
    background-color: $green;
    color: $white;
    //vertical-align: middle;
    &--image {
      //padding: 4px ;
      //align-items: flex-start;
    }
    &--search{
      //margin: 0 auto;
      //font-size: 20px;
      //padding-top: 8px;
      ////text-align: center;
      //border-radius: 52px;
      //width: 180px;
      //height: 42px;
      //background-color: $green;
      //color: $white;
      width: 100%;
      position: relative;
      display: flex;
    }
    &--input{
      margin: 0 auto;
      font-size: 20px;
      //padding-top: 8px;
      ////text-align: center;
      border-radius: 52px;
      width: 180px;
      height: 42px;
      //background-color: $white;
      //color: $white;
      color: black;

    }
  }
}

.searchButton {
  font-size: 20px;
  margin-left: -30px;
  border-bottom-right-radius: 26px;
  border-top-right-radius: 26px;
  //height: 20px;
  //width: 50px;
  //
  //width: 40px;
  //height: 36px;
  //border: 1px solid #00B4CC;
  //background: #00B4CC;
  //text-align: center;
  //color: #fff;
  //border-radius: 0 5px 5px 0;
  //cursor: pointer;
  //font-size: 20px;
}

.info{
  display: grid;
  padding: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 64px;
  row-gap: 36px;
  margin: 0 auto;
  text-align: center;
  &__item{
    color: $black;
    font-weight: bold;
    background-color: $white;
    //display: flex;
    width: 180px;
    height: 102px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
    &--value{
      margin-top: -2px;
      font-size: 28px;
    }
    &--container{
      display: flex;
    }
  }

}